@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-color: var(--whitegrey);
    background: url(../images/bg-svg.svg) no-repeat 0 0;
    background-size: cover;
    background-attachment: fixed
}